@{
	Layout = "_LayoutSignedOut";
	ViewData["Title"] = "Pagina Restrita";
}

<p>Você não tem permissão para essa funcionalidade, <a asp-controller="Home" asp-action="Index">clique aqui para voltar para Home</a></p>