@{
    ViewData["Title"] = "Listagem de Contatos";
}
<div class="text-center">
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-secondary border" role="button" asp-controller="Contact" asp-action="Create">Novo Contato</a>
    </div>

    <h1 class="display-4">Listagem de Contatos</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">E-mail</th>
                <th scope="col">Celular</th>
                <td></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark Otto</td>
                <td>mark.otto@financeHelper.com.br</td>
                <td>(11) 98435-1234</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a role="button" class="btn btn-sm btn-light border" asp-controller="Contact" asp-action="Update">Editar</a>
                        <a role="button" class="btn btn-sm btn-danger border" asp-controller="Contact" asp-action="ConfirmDelete">Apagar</a>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob Thornton</td>
                <td>jacob.thornton@financeHelper.com.br</td>
                <td>(91) 98785-1235</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a role="button" class="btn btn-sm btn-light border" asp-controller="Contact" asp-action="Update">Editar</a>
                        <a role="button" class="btn btn-sm btn-danger border" asp-controller="Contact" asp-action="ConfirmDelete">Apagar</a>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Steve Carell</td>
                <td>steve.carell@financeHelper.com.br</td>
                <td>(62) 97785-1236</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a role="button" class="btn btn-sm btn-light border" asp-controller="Contact" asp-action="Update">Editar</a>
                        <a role="button" class="btn btn-sm btn-danger border" asp-controller="Contact" asp-action="ConfirmDelete">Apagar</a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
